<div>
    <strong>Плагин должен находиться в первых шагах сборки!</strong><br>
    <i>Если билд будет провален до запуска плагина, переменная с адресами заполена НЕ будет.</i><br>
    Выберите проект и роль, для получаения списка адресов.
    Адреса, через запятую, будут добавлены в переменную $REDMINE_MAIL_LIST.
    Возможно множественное использование в одном билде для указания нескольких проектов или ролей.
</div>