<div>
    <strong>Внимание, порядок шагов в билде важен, выполняются они сверху вниз, если предыдущий шаг завершен с ошибкой,
        последующие не выполняются</strong><br>
    Меняет статусы задачам в указаном проекте. <br/>
    Например из статуса "Выполнено" в статус "Готова к тестированию". <br/>
    Можно использовать несколько в одном билде. <br/>
</div>